.prodreview{
    display: flex;
    width:100%;
}
.prod{
    width:100%;
}
.prod h6{
    padding-top: 30px;
    color:#198754;
    font-size: 1.4em;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}
.prod img{
    width:100%
}
.prod p{
    color:black;
    font-size: 0.9em;
    font-weight:200;
    letter-spacing: 0px;
}
@media(max-width:600px){
     .prod h6{
        font-size:0.8em !important;
        font-weight: 500;
    }
    .prod p{
        font-size:0.6em !important;
        font-weight: 400;
    }
}