@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  background-color: red;
}


